@page "/admin/suggestions"
@attribute [Authorize(Roles = "Admin")]
@inject ApplicationDbContext Db
@inject QueueManager QueueManager

<PageTitle>Manage Suggestions</PageTitle>
<div class="m-5">
    @if (suggestions == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <h3 class="text-2xl text-center mb-4">Manage Users</h3>
        <div class="card bg-base-200 shadow-md">
            <div class="card-body">
                <button class="btn btn-lg btn-primary m-4" @onclick="Refresh">Refresh</button>
                <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
                    <table class="table table-zebra">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Suggested By</th>
                            <th>Order</th>
                            <th>Status</th>
                            <th>Active</th>
                            <th>Finish</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var s in suggestions)
                        {
                            <tr>
                                <td>@s.Title</td>
                                <td>@s.SuggestedBy!.CycleOrder - @s.SuggestedBy.UserName</td>
                                <td>@s.Order</td>
                                <td>
                                    <select @bind="s.Status" class="form-select">
                                        @foreach (SuggestionStatus status in Enum.GetValues(typeof(SuggestionStatus)))
                                        {
                                            <option value="@status">@status</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <InputDate @bind-Value="s.ActiveAtUtc" class="form-control" />
                                </td>
                                <td>
                                    <InputDate @bind-Value="s.FinishedAtUtc" class="form-control" />
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm" @onclick="() => Save(s)">Save</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    }
</div>


@code {
    private List<Suggestion>? suggestions;
    
    protected override async Task OnInitializedAsync()
    {
        suggestions = await Db.Suggestions
            .Include(s => s.SuggestedBy)
            .OrderBy(s => s.Order)
            .ThenBy(s => s.SuggestedBy!.CycleOrder)
            .ToListAsync();
    }

    private async Task Save(Suggestion s)
    {
        if (s.ActiveAtUtc.HasValue && s.ActiveAtUtc.Value.TimeOfDay != TimeSpan.FromHours(24 - 3))
            s.ActiveAtUtc = s.ActiveAtUtc.Value.Date.AddHours(-3);
        
        if (s.FinishedAtUtc.HasValue && s.FinishedAtUtc.Value.TimeOfDay != TimeSpan.FromHours(24 - 3))
            s.FinishedAtUtc = s.FinishedAtUtc.Value.Date.AddHours(-3);
        
        Db.Suggestions.Update(s);
        await Db.SaveChangesAsync();
        
        await QueueManager.RebuildQueueAsync();
    }

    private async Task Refresh()
    {
        await QueueManager.UpdateQueueAsync();
    }

}