@page "/my-ratings"
@inject ApplicationDbContext Db
@inject GameCoverStorage GameCoverStorage
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager Nav
@attribute [Authorize]

<PageTitle>My Ratings</PageTitle>

<div class="m-5">
    @if(_user != null)
    {
        <Rater User="_user"/>
    }

    @if (_myRating.Count > 0)
    {
        <h4 class="text-4xl text-center mb-4">My Ratings</h4>
        <div class="grid grid-cols-1 md:grid-cols-fill-[600px] gap-5">
            @foreach (var ratingRecord in _myRating)
            {
                Suggestion game = ratingRecord.Suggestion!;
                <div class="@("@container")">
                    <div class="card @("@xl:card-side") bg-base-300 shadow-xs">
                        <figure class="@("@xl:w-3/7 @max-xl:max-h-[30vh]")">
                            <img src="@GameCoverStorage.GetPublicUrl(game.Id)" alt="@game.Title" class="w-full"/>
                        </figure>
                        <div class="card-body">
                            <h3 class="text-xl mb-0 text-primary">@game.Title</h3>
                            <p>
                                Suggested By<br/><strong><img src="uploads/avatars/@game.SuggestedBy!.Id.ToString("n")" class="md:ms-1 me-1 my-2 w-6 h-6 mask mask-squircle"/> @game.SuggestedBy.UserName</strong>
                                <span class="divider">My Rating</span>
                                <EditForm Model="ratingRecord" method="post" OnValidSubmit="RateGame" FormName="@("rate-" + game.Id.ToString("n"))">
                                    <DataAnnotationsValidator/>
                                    <fieldset class="fieldset">
                                        <legend class="fieldset-legend">Score</legend>
                                        
                                        <InputSelect @bind-Value="ratingRecord.Score" class="select w-full">
                                            <option disabled>Pick a rating</option>
                                            @foreach (RatingValue ratingValue in Enum.GetValues<RatingValue>().OrderDescending())
                                            {
                                                <option value="@((int)ratingValue)">(@((int)ratingValue)) @ratingValue</option>
                                            }
                                        </InputSelect>
                                    </fieldset>
                                    <fieldset>
                                        <legend class="fieldset-legend">Comment</legend>
                                        <InputTextArea @bind-Value="ratingRecord.Comment" id="@("rate-comment-" + game.Id.ToString("n"))" class="textarea h-24 w-full" placeholder="Optional"/>

                                    </fieldset>
                                    <div class="form-floating mb-3">
                                        <label for="@("rate-comment-" + game.Id.ToString("n"))" class="form-label"></label>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-lg btn-primary w-full">Rate</button>
                                    </div>
                                </EditForm>
                            </p>
                        </div>
                    </div>
            </div>

            }
        </div>
    }
</div>

@code {
    private List<Rating> _myRating = [];
    private ApplicationUser? _user;
    
    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask;
        if (authState.User.Identity?.IsAuthenticated == false)
            return;
        
        var user = await UserManager.GetUserAsync(authState.User);
        if(user == null || !await UserManager.IsInRoleAsync(user, "Member"))
        {
            Nav.NavigateTo("/Identity/Account/Login");
            return;
        }

        _user = user;
        _myRating = await Db.Ratings
            .Include(r => r.Suggestion!.SuggestedBy)
            .Where(r => r.RaterId == _user.Id)
            .OrderByDescending(r => r.CreatedAtUtc)
            .ToListAsync();
    }

    private async Task RateGame(EditContext context)
    {
        Rating model = (Rating)context.Model;

        Db.Update(model);
        await Db.SaveChangesAsync();
    }

}