@using FunMasters.Models
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject GameCoverStorage GameCoverStorage
@inject AvatarStorage AvatarStorage

@if (_needsRating.Count > 0)
{
    <div class="divider text-4xl mb-4">Needs Rating</div>
    <p class="text-2xl text-center mb-4">Please rate these games !!</p>
    <div class="grid grid-cols-1 md:grid-cols-fit-[600px] gap-5">
        @foreach (var ratingRecord in _needsRating)
        {
            Suggestion game = ratingRecord.Game;
                <div class="@("@container")">
                    <div class="card @("@xl:card-side") bg-base-300 shadow-xs">
                        <figure class="@("@xl:w-3/7 @max-xl:max-h-[30vh]")">
                            <img src="@GameCoverStorage.GetPublicUrl(game.Id)" alt="@game.Title" class="w-full"/>
                        </figure>
                        <div class="card-body">
                            <h3 class="text-xl mb-0 text-primary">@game.Title</h3>
                                Suggested By<br/><strong><img src="@AvatarStorage.GetPublicUrl(game.SuggestedBy!.Id)" class="md:ms-1 me-1 my-2 w-6 h-6 mask mask-squircle"/> @game.SuggestedBy.UserName</strong>
                                <span class="divider">My Rating</span>
                                <EditForm Model="ratingRecord" method="post" OnValidSubmit="RateGame" FormName="@("rate-" + game.Id.ToString("n"))">
                                    <DataAnnotationsValidator/>
                                    <fieldset class="fieldset">
                                        <legend class="fieldset-legend">Score</legend>
                                        
                                        <InputSelect @bind-Value="ratingRecord.Score" class="select w-full">
                                            <option disabled>Pick a rating</option>
                                            @foreach (RatingValue ratingValue in Enum.GetValues<RatingValue>().OrderDescending())
                                            {
                                                <option value="@ratingValue">(@((int)ratingValue)) @ratingValue</option>
                                            }
                                        </InputSelect>
                                    </fieldset>
                                    <fieldset>
                                        <legend class="fieldset-legend">Comment</legend>
                                        <InputTextArea @bind-Value="ratingRecord.Comment" id="@("rate-comment-" + game.Id.ToString("n"))" class="textarea h-24 w-full" placeholder="Optional"/>

                                    </fieldset>
                                    <div class="form-floating mb-3">
                                        <label for="@("rate-comment-" + game.Id.ToString("n"))" class="form-label"></label>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-lg btn-primary w-full">Rate</button>
                                    </div>
                                </EditForm>
                        </div>
                    </div>
            </div>
        }
    </div>
}

@code {
    [Parameter, EditorRequired] public ApplicationUser User { get; set; } = null!;
    
    private List<RatingRecord> _needsRating = [];

    protected override async Task OnInitializedAsync()
    {
        await using ApplicationDbContext dbContext = await DbFactory.CreateDbContextAsync();

        _needsRating = await dbContext.Suggestions
            .Include(s => s.SuggestedBy)
            .Where(s => s.Status == SuggestionStatus.Finished)
            .Where(s => s.Ratings.All(r => r.RaterId != User.Id))
            .OrderBy(s => s.ActiveAtUtc)
            .Select(s => new RatingRecord(s, RatingValue.Perfect, null))
            .ToListAsync();
    }

    private async Task RateGame(EditContext context)
    {
        RatingRecord model = (RatingRecord)context.Model;

        await using ApplicationDbContext dbContext = await DbFactory.CreateDbContextAsync();

        dbContext.Ratings.Add(new Rating
        {
            SuggestionId = model.Game.Id,
            RaterId = User!.Id,
            Score = (int)model.Score,
            Comment = model.Comment,
        });
        await dbContext.SaveChangesAsync();
        
        _needsRating.Remove(model);
    }

}