@page "/game-suggestions"

@inject ApplicationDbContext Db
@inject GameCoverStorage GameCoverStorage
@inject AvatarStorage AvatarStorage


<PageTitle>Game Suggestions</PageTitle>
<div class="m-5">
    <h3 class="text-3xl text-center mb-2">Game Suggestion</h3>
    <p class="text-lg text-center">List of game suggestion not queued yet</p>
    <br/>

    @if (loading)
    {
        <p>loading</p>
    }
    else
    {
        <div class="grid grid-cols-1 md:grid-cols-fill-[350px] gap-5 md:gap-5">
            @foreach (var game in _suggestions)
            {
                <div class="card group bg-base-200 shadow-2xl overflow-hidden">
                    <figure class="h-full">
                        <img src="@GameCoverStorage.GetPublicUrl(game.Id)" alt="@game.Title" class="w-full h-full object-cover"/>
                    </figure>
                    <div class="card-body h-full w-full flex flex-col absolute text-neutral-content cover-box-shadow transition-all">
                        <h3 class="text-2xl mb-0 text-primary can-hover:opacity-0 group-has-hover:opacity-100 transition-all">
                            @game.Title
                        </h3>
                        <p class="grow"></p>
                        <p class="grow-0">
                            Suggested By<br/><strong><img src="@AvatarStorage.GetPublicUrl(game.SuggestedBy!.Id)" class="md:ms-1 me-1 my-2 w-6 h-6 mask mask-squircle"/> @game.SuggestedBy.UserName</strong>
                        </p>
                        <a href="game/@game.Id" class="absolute inset-0"></a>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    private bool loading = true;
    private List<Suggestion> _suggestions = [];
    
    protected override async Task OnInitializedAsync()
    {
        int cycleStart = await Db.Suggestions
            .Where(s => s.Status == SuggestionStatus.Queued)
            .OrderByDescending(s => s.ActiveAtUtc)
            .Select(s => s.SuggestedBy!.CycleOrder)
            .FirstOrDefaultAsync();
        
        var suggestions = await Db.Suggestions
            .Include(s => s.SuggestedBy)
            .Where(s => s.Status == SuggestionStatus.Pending && !s.IsHidden)
            .ToListAsync();

        int maxCycleOrder = suggestions
            .Select(s => s.SuggestedBy)
            .Distinct()
            .Max(u => u!.CycleOrder);
        
        var suggestionsByUser = suggestions
            .GroupBy(s => s.SuggestedById)
            .Select(g => new
            {
                UserId = g.Key,
                User = g.First().SuggestedBy,
                Suggestions = g.ToList()
            })
            .OrderBy(x => x.User!.CycleOrder > cycleStart ? x.User!.CycleOrder - cycleStart : maxCycleOrder + x.User!.CycleOrder - cycleStart)
            .ToList();
        
        do
        {
            foreach (var userSuggestion in suggestionsByUser)
            {
                Suggestion? suggestion = userSuggestion.Suggestions.MinBy(s => s.Order);
                if (suggestion != null)
                {
                    _suggestions.Add(suggestion);
                    userSuggestion.Suggestions.Remove(suggestion);
                }
            }
            
            suggestionsByUser.RemoveAll(group => group.Suggestions.Count == 0);
        } while (suggestionsByUser.Any());

        loading = false;
    }
}