@page "/"
@using FunMasters.Components.Pages.Rating
@inject ApplicationDbContext Db
@inject GameCoverStorage GameCoverStorage
@inject UserManager<ApplicationUser> UserManager

<PageTitle>Fun Masters</PageTitle>
<div class="m-5"> 
    @if (loading)
    {
        <p>Loading...</p>
    }
    else
    {
        @if (active != null)
        {
            <div class="card md:card-side bg-base-200 shadow-2xl max-w-[1000px] m-auto card-hover">
                <figure>
                    <img class="w-full md:w-max md:h-[35vh]" src="@GameCoverStorage.GetPublicUrl(active.Id)" alt="@active.Title"/>
                </figure>
                <div class="card-body">
                    <div>
                        <h2 class="card-title text-primary text-3xl md:text-5xl mb-5">@active.Title</h2>
                        <p class="mb-1">
                            Suggested By<br/><strong><img src="uploads/avatars/@active.SuggestedBy!.Id.ToString("n")" class="ms-3 me-1 my-2 w-6 h-6 mask mask-squircle"/> @active.SuggestedBy.UserName</strong>
                        </p>
                        <p>
                            Start: @active.ActiveAtUtc!.Value.ToLocalTime().ToString("dd/MM/yyyy")<br/>
                        </p>
                    </div>
                    @if (active.FinishedAtUtc.HasValue)
                    {
                        <div class="flex flex-col items-center content-center">
                            <h3 class="text-3xl my-2">Playing <span class="text-[#F00] font-mono">Dead</span>line</h3>
                            <Countdown EndDate="@active.FinishedAtUtc.Value" class="md:w-max"/>
                        </div>
                    }
                    <a href="game/active" class="absolute inset-0"></a>
                </div>
            </div>

        }
        else
        {
            <p><em>No active games right now.</em></p>
        }


        @if (_user != null)
        {
            <div class="max-w-[700px] m-auto">
                <Rater User="_user"/>
            </div>
        }


        @if (queued.Any())
        {
            <div class="divider md:text-2xl md:m-8">Upcoming Queue</div>
            <div class="grid grid-cols-1 md:grid-cols-fill-[400px] gap-3 md:gap-5">
                @{ int i = 1; }
                @foreach (var game in queued)
                {
                    <div class="card card-side bg-base-200 grid grid-cols-2 shadow-2xl overflow-hidden card-hover">
                        <figure>
                            <img src="@GameCoverStorage.GetPublicUrl(game.Id)" alt="@game.Title"/>
                        </figure>
                        <div class="card-body">
                            <span class="absolute text-[200px] -bottom-20 -end-5 opacity-10 select-none">@(i++)</span>
                            <h3 class="text-xl mb-0 text-primary">@game.Title</h3>
                            <p>
                                Suggested By<br/><strong><img src="uploads/avatars/@game.SuggestedBy!.Id.ToString("n")" class="md:ms-1 me-1 my-2 w-6 h-6 mask mask-squircle"/> @game.SuggestedBy.UserName</strong>
                            </p>
                            <span>Expected Start:<br/>@game.ActiveAtUtc!.Value.ToLocalTime().ToString("yyyy-MM-dd")</span>
                            <span>Expected End:<br/>@game.FinishedAtUtc!.Value.ToLocalTime().ToString("yyyy-MM-dd")</span>
                        </div>
                        <a href="game/@game.Id" class="absolute inset-0"></a>
                    </div>
                }
            </div>
        }
        else
        {
            <p><em>No games in the queue yet.</em></p>
        }

        @if (finished.Any())
        {
            <div class="divider md:text-2xl md:m-8">Finished Games</div>
            <div class="mb-4 flex justify-end">
                <select class="select select-bordered w-auto" @onchange="OnSortChanged">
                    <option value="@SortingCriteria.FinishDateDescending">Sort by Finish Date (Newest)</option>
                    <option value="@SortingCriteria.FinishDateAscending">Sort by Finish Date (Oldest)</option>
                    <option value="@SortingCriteria.RatingDescending">Sort by Rating (Highest)</option>
                    <option value="@SortingCriteria.RatingAscending">Sort by Rating (Lowest)</option>
                    <option value="@SortingCriteria.Suggester">Sort by Suggester (A-Z)</option>
                </select>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-fill-[400px] gap-3 md:gap-5">
                @foreach (var game in GetSortedGames())
                {
                    <div class="card card-side bg-base-200 grid grid-cols-2 shadow-xs card-hover">
                        <figure>
                            <img src="@GameCoverStorage.GetPublicUrl(game.Id)" alt="@game.Title"/>
                        </figure>
                        <div class="card-body">
                            <h3 class="text-xl mb-0 text-primary">@game.Title</h3>

                            <p>
                                Suggested By
                                <br/>
                                <strong class="flex flex-row items-center gap-2">
                                    <img src="uploads/avatars/@game.SuggestedBy!.Id.ToString("n")" class="md:ms-1 me-1 my-2 w-6 h-6 mask mask-squircle"/>
                                    <span class="text-nowrap text-ellipsis overflow-hidden">@game.SuggestedBy.UserName</span>
                                </strong>

                                @if (game.AverageRating.HasValue)
                                {
                                    <div class="flex flex-col items-center gap-2">
                                        <RatingStars Rating="@((int)Math.Round(game.AverageRating ?? 0))" class="pe-2 rating-lg"/>
                                        <span class="text-2xl text-primary">@(game.AverageRating?.ToString("0.#") ?? "0")<small>/10</small></span>
                                    </div>
                                }
                            </p>
                            <span>Finished at:<br/>@game.FinishedAtUtc!.Value.ToLocalTime().ToString("yyyy-MM-dd") - @((int)(game.FinishedAtUtc.Value - game.ActiveAtUtc!.Value).TotalDays) Days</span><br/>
                            <a href="game/@game.Id" class="absolute inset-0"></a>
                        </div>
                    </div>
                }
                @* More Button *@
            </div>

        }
        else
        {
            <p><em>No finished games yet.</em></p>
        }
    }
</div>

@code {
    private bool loading = true;
    private Suggestion? active;
    private List<Suggestion> queued = [];
    private List<Suggestion> finished = [];
    private SortingCriteria sortBy = SortingCriteria.FinishDateDescending;

    private ApplicationUser? _user;

    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        List<Suggestion> all = await Db.Suggestions
            .Include(s => s.SuggestedBy)
            .Include(s => s.Ratings)
            .Where(s => s.Status != SuggestionStatus.Pending)
            .OrderBy(s => s.ActiveAtUtc)
            .ToListAsync();

        active = all.FirstOrDefault(s => s.Status == SuggestionStatus.Active);
        queued = all.Where(s => s.Status == SuggestionStatus.Queued).ToList();
        finished = all.Where(s => s.Status == SuggestionStatus.Finished).OrderByDescending(s => s.FinishedAtUtc).ToList();

        loading = false;

        var authState = await AuthStateTask;
        if (authState.User.Identity?.IsAuthenticated == false)
            return;

        var user = await UserManager.GetUserAsync(authState.User);
        if (user != null && await UserManager.IsInRoleAsync(user, "Member"))
        {
            _user = user;
        }
    }
    
    private void OnSortChanged(ChangeEventArgs e)
    {
        sortBy = Enum.TryParse(e.Value?.ToString(), out SortingCriteria result) ? result : SortingCriteria.FinishDateDescending;
    }
    
    private IEnumerable<Suggestion> GetSortedGames()
    {
        return sortBy switch
        {
            SortingCriteria.FinishDateDescending => finished.OrderByDescending(g => g.FinishedAtUtc),
            SortingCriteria.FinishDateAscending => finished.OrderBy(g => g.FinishedAtUtc),
            SortingCriteria.RatingDescending => finished.OrderByDescending(g => g.AverageRating ?? 0),
            SortingCriteria.RatingAscending => finished.OrderBy(g => g.AverageRating ?? 0),
            SortingCriteria.Suggester => finished.OrderBy(g => g.SuggestedBy?.UserName ?? ""),
            _ => finished.OrderByDescending(g => g.FinishedAtUtc)
        };
    }

    private enum SortingCriteria
    {
        FinishDateDescending,
        FinishDateAscending,
        RatingDescending,
        RatingAscending,
        Suggester,
    }
}