@page "/my-games"
@attribute [Authorize]
@inject ApplicationDbContext Db
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager Nav

<PageTitle>My Games</PageTitle>

<div class="m-5">
    
    @if (loading) 
    {
        <p><em>Loading…</em></p>
    }
    else
    {
        <h3 class="text-2xl text-center mb-4">My Game Suggestions</h3>

        @if (!userSuggestions.Any())
        {
            <p><em>No suggestions yet.</em></p>
        }
        else
        {
            <div class="card bg-base-200 shadow-md">
                <div class="card-body">
                    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
                        <table class="table table-zebra">
                            <thead>
                            <tr>
                                <th>Order</th>
                                <th>Title</th>
                                <th>Is Hidden</th>
                                <th>Added</th>
                                <th>Play Date</th>
                                <th>Finished Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var s in userSuggestions)
                            {
                                <tr>
                                    <td>@s.Order</td>
                                    <td>@s.Title</td>
                                    <td>@s.IsHidden</td>
                                    <td>@s.CreatedAtUtc.ToLocalTime().ToString("yyyy-M-d")</td>
                                    <td>@s.ActiveAtUtc?.ToLocalTime().ToString("yyyy-M-d")</td>
                                    <td>@s.FinishedAtUtc?.ToLocalTime().ToString("yyyy-M-d")</td>
                                    <td>@s.Status</td>
                                    <td>
                                        @if(s.Status == SuggestionStatus.Pending)
                                        {
                                            <a href="/my-games/edit/@s.Id" class="text-primary">Edit</a>
                                            @:|
                                            <a href="/my-games/delete/@s.Id" class="text-primary"> Delete </a>
                                            if(s != userSuggestions.First(g => g.Status == SuggestionStatus.Pending))
                                            {
                                                @:|
                                                <a class="cursor-pointer text-primary" @onclick="async () => await SortUp(s)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up inline" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
                                                    </svg>
                                                </a>
                                            }
                                            if(s != userSuggestions.Last())
                                            {
                                                @:|
                                                <a class="cursor-pointer text-primary" @onclick="async () => await SortDown(s)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down inline" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                                                    </svg>
                                                </a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-actions justify-end">
                        <a class="btn btn-primary mb-3" href="/my-games/add">Add Game</a>
                    </div>
                </div>
            </div>
            
        }
    }

</div>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; } = default!;
    private List<Suggestion> userSuggestions = new();
    private bool loading = true;
    private Guid? currentUserId;

    protected override async Task OnInitializedAsync()
    {
        var auth = await AuthStateTask;
        var user = await UserManager.GetUserAsync(auth.User);

        if (user == null)
        {
            // shouldn't happen because of [Authorize] but be safe
            Nav.NavigateTo("/Identity/Account/Login");
            return;
        }
        
        currentUserId = user.Id;
        await LoadGames();
    }

    private async Task LoadGames()
    {
        loading = true;
        
        userSuggestions = await Db.Suggestions.AsNoTracking()
            .Where(s => s.SuggestedById == currentUserId)
            .OrderBy(s => s.Order)
            .ToListAsync();

        loading = false;
    }

    private async Task SortUp(Suggestion game)
    {
        List<Suggestion> sortGames = await Db.Suggestions
            .OrderBy(g => g.Order)
            .Where(s => s.SuggestedById == currentUserId && s.Order <= game.Order && s.Status == SuggestionStatus.Pending)
            .Take(2)
            .ToListAsync();

        var otherGame = sortGames[0];
        var thisGame = sortGames[1];
        
        otherGame.Order++;
        thisGame.Order--;

        await Db.SaveChangesAsync();
        
        await LoadGames();
    }
    
    private async Task SortDown(Suggestion game)
    {
        List<Suggestion> sortGames = await Db.Suggestions
            .OrderBy(g => g.Order)
            .Where(s => s.SuggestedById == currentUserId && s.Order >= game.Order && s.Status == SuggestionStatus.Pending)
            .Take(2)
            .ToListAsync();

        var thisGame = sortGames[0];
        var otherGame = sortGames[1];
        
        otherGame.Order--;
        thisGame.Order++;

        await Db.SaveChangesAsync();
        
        await LoadGames();
    }

}
